.header {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Adjust padding as needed */
  position: fixed; /* Set to fixed for fixed positioning */
  top: 0; /* Position at the top of the screen */
  width: 100%; /* Take the full width of the screen */
  background-color: #0a2049;
  height: 40px;
  color: white;
  z-index: 1000;
}

.header span {
  font-size: 30px;
  font-weight: bold;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav a:hover {
  color: rgb(255, 255, 255);
}

form {
  margin: 0;
}

/* Add this CSS to your existing navbar.css file */
#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  background-color: #fff;
  padding-top: 20px;
  transition: 0.5s;
  overflow-x: hidden;
  color: #000;
  z-index: 1000;
  right: 0;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li {
  padding: 10px;
  font-size: 1.2em;
}

#content {
  margin-left: 0;
  padding: 15px;
  transition: margin-left 0.5s;
}

#sidebar.active {
  width: 250px;
}

#content.active {
  margin-left: 250px;
}




