body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ebf1f3;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 20px;
  box-sizing: border-box;
}

.register-box {
  width: 40%;
  min-width: 300px;
  max-width: 500px;
  padding: 40px;
  background-color: #0a2049;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.register-box h1 {
  color: #fff;
  padding-bottom: 20px;
}

.register-box .user-box {
  margin-bottom: 20px;
}

.register-box label {
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.register-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.register-box button {
  position: relative;
  padding: 10px 20px;
  color: #000000;
  background-color: rgb(114, 195, 241);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  margin-top: 20px;
  letter-spacing: 4px;
  width: 100%;
}

.register-box button:hover {
  background: rgb(43, 158, 235);
  border-radius: 5px;
}

.register-box a {
  color: rgb(114, 195, 241);
  font-size: 14px;
  transition: 0.5s;
}

.register-box p {
  color: white;
}

/* Add any additional styling as needed */
