body {
    font-family: sans-serif;
    background: #ebf1f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    padding: 40px;
    background-color: #0a2049;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

h2 {
    color: #fff;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

form {
    text-align: left;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input,
select {
    width: 100%;
    padding: 10px; /* Adjusted for consistency on all sides */
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

p {
    color: #fff;
}

button.register-button {
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(114, 195, 241);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.5s;
    margin-top: 20px;
    letter-spacing: 4px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.register-button:hover {
    background: rgb(43, 158, 235);
    border-radius: 5px;
}
