<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Energy Consumption Graph</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <h2>Dynamic Energy Consumption Graph</h2>
    <h3>Date Time Form</h3>
    
    <form id="datetimeForm">
        <label for="selected_address">Select Address to View:</label>
        <select id = "selected_address" name="selected_address" required>
            <option selected>Choose an option</option>
            {% for house in houses %}
                <option value="{{ house.HouseID }}">{{ house.address }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="startDatetime">Start Datetime:</label>
        <input type="date" id="startDatetime" name="startDatetime" required>
        <br>

        <label for="endDatetime">End Datetime:</label>
        <input type="date" id="endDatetime" name="endDatetime" required>
        <br>
        <br>

        <input type ="submit" id="EC" value="Get EC Chart" >
    </form>
    

    <div id="energy-consumption-chart"></div>
    <div id="Consumption"></div>
    <div id="Statistics"></div>
    <script>
        // Function to update the chart with new data
        $(document).ready(function() 
        {
            var chosenGraph;
            $("#datetimeForm").submit(function(event) {
                event.preventDefault();
                console.log(buttonClicked);
                var startDatetime = $("#startDatetime").val();
                var endDatetime = $("#endDatetime").val();
                var selected_address= $("#selected_address").val();
                chosenGraph = buttonClicked;
                buttonClicked=""; 
                console.log("getting Here! 21");
                $.ajax({
                    url: '/get_area_statistics',
                    type: 'POST',
                    data: {startDatetime: startDatetime, endDatetime: endDatetime, selected_address:selected_address},
                    success: function(response) 
                    {
                        // Update the table with the response data
                        console.log("getting Here! 22");
                                // Initial chart setup

                        updateGraph(response);
                    },
                    error: function(error) {
                        console.log('Error:', error);
                    }
                });
            });
            $("#datetimeForm input[type = 'submit']").click(function(e){
                buttonClicked = $(this).attr("id");
                console.log
            })

            function updateGraph(response) {
            // Extract x and y data from the response
            var labels = response.labels;
            var values = response.percentage_of_total;
            var avg_usage = response.avg_above;
            var own_consumption = response.own_consumption;

            var plotlyData = [{
                values: values  ,
                labels: labels,
                type: 'pie',
                hole: 0.4
                
            }];
                        
            var layout = {
                        title: 'Energy Consumption By Your Household in this period',
                    };

            // Update the Plotly graph
            Plotly.newPlot('energy-consumption-chart', plotlyData, layout);

            var consumptionData = "Your Energy Consumption for this period is: " + String(own_consumption)
            var statText = "Compared to other houses of similar size in this zipcode, your house used "
            console.log(avg_usage)
                    
            if(avg_usage > 0)
                statText += String(avg_usage) + " more units in this time period"
            else
                statText += String(Math.abs(avg_usage)) + " less units in this time period"  

            document.getElementById("Statistics").innerHTML = statText;
            document.getElementById("Consumption").innerHTML = consumptionData;
        }
        });

    </script>
</body>
</html>
