<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Energy Consumption Graph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user/css/generate_area_statistics.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>

    {% include 'navbar.html' %}
    <div class="register-device-container">
        <div class="form-container">
            <div class="register-device-box">
                <h1>Generate Statistics by Area</h1>
                <h2>Date Time Form</h2>

                <form id="datetimeForm" class="energy-form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="device-box">
                        <label for="selected_address">Select Address to View:</label>
                        <select id="selected_address" name="selected_address" required>
                            <option selected disabled>Choose an option</option>
                            {% for house in houses %}
                                <option value="{{ house.HouseID }}">{{ house.address }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="device-box">
                        <label for="startDatetime">Start Datetime:</label>
                        <input type="date" id="startDatetime" name="startDatetime" required>
                    </div>
                    <div class="device-box">
                        <label for="endDatetime">End Datetime:</label>
                        <input type="date" id="endDatetime" name="endDatetime" required>
                    </div>
                    <br>
                    <input type="submit" id="EC" value="Get EC Chart" class="device-box">
                </form>
            </div>
        </div>

        <div class="graph-container">
            <div id="energy-consumption-chart" class="plotly-chart"></div>
            <div id="device-type-consumption-chart" class="plotly-chart"></div>
            <div class="data-container">
                <div id="usage_statistics"></div>
                <div id="average_statistics"></div>
                <div id="table-data"></div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            var chosenGraph;
            var csrf_token = "{{ csrf_token() }}";
    
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
    
            $("#datetimeForm").submit(function (event) {
                event.preventDefault();
    
                if (!validateDates()) {
                    alert("Start date must be before end date.");
                    return;
                }
    
                var startDatetime = $("#startDatetime").val();
                var endDatetime = $("#endDatetime").val();
                var selected_address = $("#selected_address").val();
                chosenGraph = buttonClicked;
                buttonClicked = "";
    
                $.ajax({
                    url: '/get_area_statistics',
                    type: 'POST',
                    data: {startDatetime: startDatetime, endDatetime: endDatetime, selected_address: selected_address},
                    success: function (response) {
                        console.log("Getting Here! 22");
                        updateGraph(response);
                        generateTable(response)
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
    
            function validateDates() {
                var startDatetime = new Date($("#startDatetime").val());
                var endDatetime = new Date($("#endDatetime").val());
    
                // Check if start date is before end date
                return startDatetime < endDatetime;
            }
    
            $("#datetimeForm input[type='submit']").click(function (e) {
                buttonClicked = $(this).attr("id");
            });
    
            function updateGraph(response) {
                var labels = response.labels;
                var values = response.percentage_of_total;
                var avg_usage = response.avg_above;
                var own_consumption = response.own_consumption;
    
                var plotlyData = [{
                    values: values,
                    labels: labels,
                    type: 'pie',
                    hole: 0.4
                }];
    
                var layout = {
                    title: 'Energy Consumption By Your Household in this period',
                };
    
                Plotly.newPlot('energy-consumption-chart', plotlyData, layout); // Ensure this line is present
    
                var consumptionData = "Your Energy Consumption for this period is: " + String(own_consumption);
                var statText = "Compared to other houses of similar size in this zipcode, your house used ";
    
                if (avg_usage > 0)
                    statText += String(avg_usage) + " percent more units than the average in this time period";
                else
                    statText += String(Math.abs(avg_usage)) + " percent less units than the average in this time period";
    
                document.getElementById("usage_statistics").innerHTML = statText;
                document.getElementById("average_statistics").innerHTML = consumptionData;
            }

            function generateTable(data) {
                
                    var container = document.getElementById('table-data');
                    var table = document.createElement('table');
                    var thead = document.createElement('thead');
                    var tbody = document.createElement('tbody');
                    container.innerHTML = ''
                    device_wise_stats = data.device_wise_stats;

                    var headerRow = document.createElement('tr');
                    var labels = ['Device Type', 'Total Charge for the Time Period ($)', '% change from average', 'Usage Rank in Zipcode']
                    labels.forEach(function(key) {
                        var th = document.createElement('th');
                        th.textContent = key;
                        headerRow.appendChild(th);
                    });
                    thead.appendChild(headerRow);
                    table.appendChild(thead);

                    device_wise_stats.forEach(function(item) {
                    var row = document.createElement('tr');
                    Object.values(item).forEach(function(value) {
                        var cell = document.createElement('td');
                        cell.textContent = value;
                        console.log(value);
                        row.appendChild(cell);
                        });
                        tbody.appendChild(row);
                    });
                    table.appendChild(tbody);

                    // Append the table to the container
                    container.appendChild(table);
                 }
        });
    </script>
    
</body>

</html>
