<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Add your CSS and JS links here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='user/css/login.css') }}">
    <script src="{{ url_for('static', filename='user/javascript/login.js') }}"></script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            var messages = {{ messages | safe }};
            for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
            console.log(messages[i]);
            }
        </script>
        {% endif %}
    {% endwith %}
    <div class="login-container">
        <div class="login-box">
            <h1>Welcome to <span>Smart Home Energy Management System (SHEMS)</span></h1>
            <form id="loginForm" method="post" action="{{ url_for('login') }}" onsubmit="return checkUserDetails();">
                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" /> 
                <div class="user-box">
                    <input type="email" name="user_email" placeholder=" " required>
                    <label>Email*</label>
                </div>
                <div class="user-box">
                    <input type="password" name="user_pwd" placeholder=" " required>
                    <label>Password*</label>
                </div>
                <button type="submit" id="btn_login_user">login</button>
            </form>
            
            <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
        </div>
    </div>
</body>
</html>