<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <!-- Add your CSS link here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='user/css/navigation_bar.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('register_address') }}" class="active">Register Address</a>
        <a href="{{ url_for('register_device') }}">Register Device</a>
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
    </div>
</body>
</html>
