<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Device</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user/css/register_device.css') }}">

</head>
<body>

{% include 'navbar.html' %}
    <div class="register-device-container">
        <div class="register-device-box">
            <h1>Register Device</h1>
            <form method="POST" action="{{ url_for('register_device') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> 
             
                <div class="device-box">
                    <label for="device_type">Device Type:</label>
                    <select id="device_type" name="device_type" required>
                        <option disabled selected value> -- select an option -- </option>
                        {% for key, values in device_list.items() %}
                        <option value="{{key}}">{{key}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="device-box">
                    <label for="device_model">Device Model:</label>
                    <select id="device_model" name="device_model" required>
                    </select>
                </div>

                <div class="device-box">
                    <label for="address">Select Address:</label>
                    <select name="address" required>
                        {% for add in address_list %}
                        <option value="{{add.HouseID}}">{{add.address}}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit">Register Device</button>
            </form>
        </div>
    </div>

    <script>
        function myFunc(vars) {
            return vars;
        }

        document.getElementById("device_type").onchange = function (evt) {
            var value = evt.target.value;
            console.log(value);
            var device_list = myFunc({{ device_list|tojson }});

            var select = document.getElementById("device_model");
            var options = device_list[value];

            // Clear previous options
            select.innerHTML = "";

            for (var i = 0; i < options.length; i++) {
                var opt = options[i];
                console.log(options[i]);
                var el = document.createElement("option");
                el.text = opt;
                el.value = opt;
                select.appendChild(el);
            }
        };
    </script>
</body>
</html>
