<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Add your CSS link here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='user/css/register.css') }}">
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        var messages = {{ messages | safe }};
        for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
        console.log(messages[i]);
        }
    </script>
    {% endif %}
{% endwith %}
{% include 'navbar.html' %}
    <div class="register-container">
        <div class="register-box">
            <h1>Create an Account</h1>
            <form method="POST" action="{{ url_for('register') }}" onsubmit="return validateRegistration()">
                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" /> 
                <div class="user-box">
                    <label for="username">Username:</label>
                    <input type="text" name="username" required>
                </div>
                <div class="user-box">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                    <span id="emailError" class="error"></span>
                </div>
                <div class="user-box">
                    <label for="phone">Phone:</label>
                    <input type="tel" name="phone" id="phone" required>
                    <span id="phoneError" class="error"></span>
                </div>
                <div class="user-box">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                    <span id="passwordError" class="error"></span>
                </div>
                <div id="errorMessages" class="error"></div>


                <button type="submit">Register</button> 
            </form>
            <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='user/js/register.js') }}"></script>
</body>
</html>
