<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Device</title>
    <!-- Add your CSS link here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='user/css/register_device.css') }}">
</head>
<body>
    <div class="register-device-container">
        <div class="register-device-box">
            <h1>Register Device</h1>
            <form method="POST" action="{{ url_for('register_device') }}">
                {{ csrf_token }}
                <div class="device-box">
                    <label for="device_type">Device Type:</label>
                    <select name="device_type" required>
                        {% for device in device_list %}
                        <option value="{{device.DeviceType}}">{{device.DeviceType}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="device-box">
                    <label for="device_model">Device Model:</label>
                    <select name="device_model" required>
                        {% for device in device_list %}
                        {% if device.deviceType  %}
                        <option value="{{device.DeviceModel}}">{{device.DeviceModel}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="device-box">
                    <label for="address">Select Address:</label>
                    <select name="address" required>
                        {% for add in address_list %}
                        <option value="{{add.HouseID}}">{{add.address}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">Register Device</button>
            </form>
        </div>
    </div>
</body>
</html>
